/* CSS LAYOUT */
/* **************************************************************** */
/* ESTADO smartphone */
/* Mobile First */
/* STANTARD */
body {
    background-color: #F4F4F4;
}
.body2{
  background-color: #CC2525;
}
.menu{
  padding: 30px;
}
.header{
  width: 100%;
}

.p_anuncio{
    color: white;
    font-size:15px;
}

.carrito{
margin-top:20px;
border-radius: 50%;
background-color:#F4F4F4;
border: 2px solid white;
}
.user{
padding: 10px;
margin-top:20px;
margin-bottom: 20px;
border-radius: 50%;
background-color:#F4F4F4;
border: 2px solid white;
}
#marco{
    margin-top: 50px;
    left: 200px;
    display: inline-block;
    height: 60%;
    width: 80%;
    border: 3px solid #F4F4F4;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 40px rgba(0,0,0,0.1);

}
#marco-r{
    display: flex;
    margin-top: 50px;
    left: 200px;
    display: inline-block;
    height: 60%;
    width: 40%;
    border: 3px solid #3A3A39;
    background-color: #3A3A39;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 40px rgba(0,0,0,0.1);

}
#marco-lg{
    display: flex;
    margin-top: 50px;
    left: 200px;
    display: inline-block;
    height: 60%;
    width: 40%;
    border: 3px solid #3A3A39;
    background-color: #3A3A39;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 40px rgba(0,0,0,0.1);

}

br{
  font-size:500px;
}
.cesta{
  display: flex;
  align-items:center ;
  justify-content: center;
  background-color: #F4F4F4;
}

.registro{
  /* display: flex; */
  align-items:center ;
  justify-content: center;
  background-color: #F4F4F4;
}

li{
  font-size:30px;
}
a{
  color:white;
}
a.blue{
  color: #84BCFE;
}

a.blue:hover{
  color: #A4CEFF;
}

header{
  height: 80px;
  background-color:#3A3A39;
  position:sticky;
  top: 0;
  display: flex;
  padding: 0 var(--margenExterno);
  justify: space-around;
  align-items:center;
  color:white;
}

header .vacio{
  flex-grow: 1;
}

header img{
  padding: 9px;
}
.banner-iconos{
  display: flex;
  justify-content: space-between;
}
.logo{
  height: 58px;
}
label.boton{
  cursor:pointer;
}
#click, ul.menu{
  display:none;
}
input:checked ~ ul.menu{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 27% 25%;
  position: absolute;
  top: 64px;
  left: 0;
  background-color: #666666 ;
  height:calc(100vh - 80px);
}

/* .form{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
    width: 43%;
    height: 30px;
    padding: 4px;

    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    margin-left: 30px;
    margin-right: 30px;

    color:#727272 !important;
    font-size:13px;
}
.formulario{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

    width: 43%;
    height: 30px;
    padding: 4px;

    background:#f8f8f8;

    border:1px solid rgba(0, 0, 0, 0.075);

    margin-bottom:25px;

    margin-left: 30px;

    margin-right: 30px;

    color:#727272 !important;

    font-size:13px;
} */

/* .formulario-error{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
    width: 43%;
    height: 30px;
    padding: 4px;
    background:#f8f8f8;
    border:3px solid red;
    margin-bottom:25px;
    margin-left: 30px;
    margin-right: 30px;
    color:#727272 !important;
    font-size:13px;
} */
/* .p_error{
  color: white;
  font-size:10px;
  display: none;
}

.p_error-act{
  display: block;
}
.formularios-error {
	color: red;
}
.formularios-ok{
  color: green;
}
.formularios-error .formulario_validacion {
	color: red;
}
.formularios-error .formulario {
	border:3px solid red;
} */

/* .formulario__input-error {
        font-size: 12px;
        text-align: center;
        margin-bottom: 0;
        display: none;
}

.formulario__input-error-activo {
	display: block;
}


.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
} */

.boton-cuestionario{
  /* tamaño largo */
  width: 50%;
  height: 50px;
  padding: 4px;
  /* fondo */
  background:#577FAE;
  /* 1px del borde */
  border:1px solid rgba(0, 0, 0, 0.075);
  /* margen abajo */
  margin-bottom:25px;
   /* margenes izquierda */
  margin-left: 30px;
   /* margenes derecha */
  margin-right: 30px;
  /* color */
  color:white;
  /* tamaño texto */
  font-size:13px;
  border-radius: 8px;

}
.boton-cuestionario:hover{
  background:#84EA83;
  color: #3A3A39;
}


.boton-registro{
  /* tamaño largo */
  width: 20%;
  height: 50px;
  padding: 4px;
  /* fondo */
  background:#577FAE;
  /* 1px del borde */
  border:1px solid rgba(0, 0, 0, 0.075);
  /* margen abajo */
  margin-bottom:25px;
   /* margenes izquierda */
  margin-left: 30px;
   /* margenes derecha */
  margin-right: 30px;
  /* color */
  color:white;
  /* tamaño texto */
  font-size:13px;
  border-radius: 100px;

}

.boton-registro:hover{
  background:#295378;
}


.cb{
  margin-left: 10px;
  margin-bottom: 20px;
  color:white;
}

.cbp{
  color: white;
  font-size:10px;
}

p{
  color: white;
}

/* ESTADO iPad */
@media only screen and (min-width: 768px) {
    p{
        color: white;
        font-size:20px;
    }
    input:checked ~ ul.menu{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 19% 25%;
      position: absolute;
      top: 64px;
      left: 0;
      background-color: #666666 ;
      height:calc(100vh - 80px);
    }

}


/* ESTADO Desktop */
@media only screen and (min-width: 1000px) {
    p{
        color: white;
        font-size:15px;
    }
    input:checked ~ ul.menu{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 5% 40%;
      position: absolute;
      top: 64px;
      left: 0;
      background-color: #666666 ;
      height:calc(100vh - 80px);
    }
}


.inp{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
    width: 70%;
    height: 40px;
    padding: 4px;

    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:8px;
    margin-left: 30px;
    margin-right: 30px;

    color:#727272 !important;
    font-size:13px;
}
h1{
  color:white;
}
label{
  color:white;
}


.mensajeError{
  color:red;

}
