/* CSS LAYOUT */
/* **************************************************************** */
/* ESTADO smartphone */
/* Mobile First */
/* STANTARD */
body {
    background-color: #F4F4F4;
}
.body2{
  background-color: #CC2525;
}
.menu{
  padding: 30px;
}
.header{
  width: 100%;
}

.carrito{
margin-top:20px;
border-radius: 50%;
background-color:#F4F4F4;
border: 2px solid white;
}
.user{
padding: 10px;
margin-top:20px;
margin-bottom: 20px;
border-radius: 50%;
background-color:#F4F4F4;
border: 2px solid white;
}
#marco{
    margin-top: 50px;
    left: 200px;
    display: inline-block;
    height: 60%;
    width: 80%;
    border: 3px solid #F4F4F4;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 40px rgba(0,0,0,0.1);

}

#marco-lg{
    display: flex;
    margin-top: 50px;
    left: 200px;
    display: inline-block;
    height: 60%;
    width: 80%;
    border: 3px solid #3A3A39;
    background-color: #3A3A39;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 40px rgba(0,0,0,0.1);

}

br{
  font-size:500px;
}
.cesta{
  display: flex;
  align-items:center ;
  justify-content: center;
  background-color: #F4F4F4;
}

.registro{
  display: flex;
  align-items:center ;
  justify-content: center;
  background-color: #F4F4F4;
}
p{
    color: white;
    font-size:15px;
}
li{
  font-size:30px;
}
a.blue{
  color: #84BCFE;
}

header{
  height: 80px;
  background-color:#3A3A39;
  position:sticky;
  top: 0;
  display: flex;
  padding: 0 var(--margenExterno);
  justify: space-around;
  align-items:center;
  color:white;
}

header .vacio{
  flex-grow: 1;
}

header img{
  padding: 9px;
}
.banner-iconos{
  display: flex;
  justify-content: space-between;
}
.logo{
  height: 58px;
}
a{
  color:white;
}
label.boton{
  cursor:pointer;
}
#click, ul.menu{
  display:none;
}
input:checked ~ ul.menu{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 27% 25%;
  position: absolute;
  top: 64px;
  left: 0;
  background-color: #666666 ;
  height:calc(100vh - 80px);
}

.form{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
    /* tamaño largo */
    width: 43%;
    height: 30px;
    padding: 4px;
    /* fondo */
    background:#f8f8f8;
    /* 1px del borde */
    border:1px solid rgba(0, 0, 0, 0.075);
    /* margen abajo */
    margin-bottom:25px;
     /* margenes izquierda */
    margin-left: 30px;
     /* margenes derecha */
    margin-right: 30px;
    /* color */
    color:#727272 !important;
    /* tamaño texto */
    font-size:13px;
}

.boton-cuestionario{
  /* tamaño largo */
  width: 50%;
  height: 50px;
  padding: 4px;
  /* fondo */
  background:#577FAE;
  /* 1px del borde */
  border:1px solid rgba(0, 0, 0, 0.075);
  /* margen abajo */
  margin-bottom:25px;
   /* margenes izquierda */
  margin-left: 30px;
   /* margenes derecha */
  margin-right: 30px;
  /* color */
  color:white;
  /* tamaño texto */
  font-size:13px;
  border-radius: 8px;

}
.cb{
  margin-left: 10px;
  margin-bottom: 20px;
  color:white;
}

.cbp{
  color: white;
  font-size:10px;
}

/* ESTADO iPad */
@media only screen and (min-width: 768px) {
    p{
        color: white;
        font-size:20px;
    }
    input:checked ~ ul.menu{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 19% 25%;
      position: absolute;
      top: 64px;
      left: 0;
      background-color: #666666 ;
      height:calc(100vh - 80px);
    }
}


/* ESTADO Desktop */
@media only screen and (min-width: 1000px) {
    p{
        color: white;
        font-size:20px;
    }
    input:checked ~ ul.menu{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 5% 40%;
      position: absolute;
      top: 64px;
      left: 0;
      background-color: #666666 ;
      height:calc(100vh - 80px);
    }
}
